body {
  text-align: center;
  min-height: 100vh;
  color: #fff;
  background: rgb(254, 95, 117);
  background: linear-gradient(
    180deg,
    rgba(254, 95, 117, 1) 0%,
    rgba(255, 157, 72, 1) 100%
  );
}
